@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body{
   background:hsl(215, 29%, 87%);
   display: grid;
   place-content: center;
   height: 100vh;
   font-family: 'Karla', sans-serif;
   font-size: 16px;
}

.container{
   width: 375px;
   max-height: auto;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container header{
   width: 375px;
   height: 320px;
   background-color: #fff;
   padding: 25px 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.container header h2{
   color: hsl(179, 62%, 43%);
   font-size: 1.5em;
   padding-left: 10px;
   margin-left: 10px;
   margin-top: 50px;
}

.container header span{
   color: rgb(187, 225, 18);
   font-size: 1.2em;
   padding: 8px 10px;
   margin: 15px 0 0 10px;
   font-weight: 700;
}

.container header p{
   color: rgb(174, 169, 169);
   font-size: 1.2em;
   font-weight: 200;
   line-height: 1.6;
   padding : 15px;
   margin: 5px 0 15px 10px;
}

.container main{
   width: 375px;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
}

main .main-price{
   background-color: hsl(179, 62%, 43%);
   height: 260px;
   padding: 10px;

}

main .main-price h3{
   color: #fff;
   font-size: 1.3em;
   padding: 15px 0 10px 10px;
   margin-top: 10px;
   font-weight: 400;
}

main .main-price .price{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 15px 0 15px 10px;
   margin-bottom: 0;
}

main .main-price .price span{
   color: #fff;
   font-size: 2em;
   font-weight: 700;
   margin-right: 10px;
}

main .main-price .price span{
   color: #fff;
   font-size: 2em;
   font-weight: 700;
   margin-right: 10px;
}

main .main-price .price small{
   color: rgb(228, 222, 222);
   font-size: 1.2em;
   margin-right: 10px;
}


main .main-price p{
   margin-left: 10px;
   color: #fff;
   font-size: 1.2em;
   font-weight: 200;
   margin-bottom: 15px;
}

main .main-price a{
   display: block;
   width: 80%;
   margin: 0 auto;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   background-color: hsl(71, 73%, 54%);
   margin-bottom: 20px;
   font-weight: 400;
   font-size: 1.2em;
   color: #fff;
   border: none;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

main .main-info{
   display: flex;
   flex-direction: column;
   background-color: hsl(179, 71%, 46%);
   height: 260px;
   padding: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

main .main-info h3{
   color: #fff;
   font-size: 1.3em;
   padding: 15px 0 10px 10px;
   margin-top: 10px;
   font-weight: 400;
}

main .main-info ul{
   color: rgb(228, 222, 222);
   font-size: 18px;
   list-style: none;
   padding: 15px 0 10px 10px;
}


.attribution { 
   font-size: 15px; 
   text-align: center;
   margin-top: 10px;
}

 .attribution a { 
   color: hsl(228, 45%, 44%);
}
